[submodule "testpilot"]
	path = testpilot
	url = https://github.com/Trustworthy-AI/testpilot.git
[submodule "carlaviz"]
	path = carlaviz
	url = https://github.com/wx9698/carlaviz.git
[submodule "telecarla"]
	path = telecarla
	url = https://github.com/hofbi/telecarla.git
